<h1>Dice</h1>
<p>dice dice baby</p>

<%
die_1 = rand(1..6)
die_2 = rand(1..6)
total = die_1 + die_2
%>

<p>
<img src="/images/dice/<%=die_1%>.svg">
Die 1: <%=die_1%>
</p>
<p>
<img src="/images/dice/<%=die_2%>.svg">
Die 2: <%=die_2%>
</p>
<p>Total: <%=total%></p>

<p>
  <a href="/dice">Roll Again</a>
</p>